/*glabel*/
*{
	box-sizing: border-box;
	position: relative;
}

body{
	font-family: Arial;
	/*預設字距*/
	line-height: 1.6;
}

ul{
	list-style: none;

}

/* 最底部背景 */
.wapper{
	width: 1400px;
	height: 787px;
	border-radius: 20px;
	background-image: url(../img/main.jpg);
	/*符合背景尺寸*/
	background-size: cover;
	/*定位：相對定位*/
	position: relative;
	margin: 50px auto;
}

/* 主選單 */
.nav{
	/*浮動靠右*/
	float: right;
	padding: 50px 100px 50px 0;

}

.nav li{
	/*浮動靠左*/
	float: left;
	margin-left: 30px;

}

.nav a{
	color: #C3AED6;
	/*文字裝飾*/
	text-decoration: none;

}

.nav a:hover{
	color: lightyellow;
	text-decoration: none;

}

/*main information*/

.container {
	/*浮動靠右*/
	float: right;
	width: 500px;
	clear: both;
}
.container h1{
	font-size: 72px;
	/*粗細*/
	font-weight: bold;
	color: #C0FDFF;

	/*animation*/
	animation-name: color;
	/*animation time*/
	animation-duration: 3s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: reverse;

}

/*動畫關鍵影格*/
@keyframes color{
	0%{
		color: #C0FDFF;
	}
	
	20%{
		color: #DEAAFF;
	}

	
	40%{
		color: #E5B3FE;
	}

	60%{
		color: #F3C4FB;
	}

	80%{
		color: #FFCBF2;
	}

	100%{
		color: #C0FDFF;
	}

}

.container h2{
		font-size: 35px;
	/*粗細*/
	font-weight: bold;
	color: white;
	
}
.container p{
	color: white;
	display: block;
	margin-bottom: 25px;

}
.container a{
	display: block;
	text-decoration: none;
	background-color: #D0D1FF;
	width: 150px;
	text-align: center;
	line-height: 50px;
	border-radius: 20px;

}

.container a:hover{
	background-color: lightyellow;
	transition: .5s;

}

/*social media*/

.social-media{
	position: absolute;
	bottom: 30px;
	right: 350px;
}

.social-media li{
	float: left;
	margin-left: 20px;
}

.social-media a{
	
}
